.quiz-Cart{
text-align: center;
}
.quiz-title{
    margin-bottom: 0px;
}
.score-board{
    display: flex;
    justify-content: center;

}
.quiz-Cart button{
    padding: 8px;
    font-weight: bold;
}
.question-card{
    margin: 0 auto;
    background-color: gray;
    padding: 15px;
    border-radius: 15px;
    box-shadow: #00000012 0px 1px 2px, #00000012 0px 2px 4px, #00000012 0px 4px 8px, #00000012 0px 8px 16px, #00000012 0px 16px 32px, #00000012 0px 32px 64px;
    width: 80%;
    height: auto;
}

.final-result{
    margin: 0 auto;
    background-color: gray;
    padding: 15px;
    border-radius: 15px;
    box-shadow: #00000012 0px 1px 2px, #00000012 0px 2px 4px, #00000012 0px 4px 8px, #00000012 0px 8px 16px, #00000012 0px 16px 32px, #00000012 0px 32px 64px;
    width: 80%;
    height: auto;
}
.question-text{
    color:blue;
}
ul{
    list-style: none;
padding-left: 0px;
}
li{
    background-color: darkgray;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}
li:hover{
    color: blue;
    background-color: rgba(255, 255, 255, 0.575);
}


.quiz{
    text-align: center;
}
.noOFQuiz{
    margin-top: 0px;
    margin-bottom: 5px;
}

.message-color{
    color: blue;
    font-size: 20px;
    margin-bottom: 0px;
}
.right-icon{
    color: blue;
    font-weight: bold;
}
.wrong-icon{
    color: red;
    font-weight: bold;
}

.answer-show{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 30px;
}
.ans-icons{
    margin-left: 50px;
    color: rgb(77, 55, 35);
    font-size: 20px;
}
.open-ans{
    margin-left: 50px;
    color: blue;
    font-size: 20px;
}