.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
}
.header-container a{
    text-decoration: none;
}
.nav-items a{
    margin-left: 20px;
    text-decoration: none;
}
.activeClassName{
    border-bottom: 3px solid #0011ff;
}