.author-container{
    background-color:gray;
    display: flex;
    margin-top: 20px;
}

.author-profile{
    display: flex;
    align-items: center;
}
.author-profile p{
    margin: 3px;
    margin-left: 5px;
    color: white;
}
.author-profile img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    padding: 5px;
}
.author-profile button{
    color: rgb(119, 0, 255);
    font-weight: bold;
    font-size: 15px;
    background-color: bisque;
    border: 0;
}


.author-personal-blogs{
    width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}
.author-personal-blogs a{
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: rgb(32, 32, 241)
}

.site-heading{
    color: indigo;
}
.site-info{
    font-size: 23px;
    text-align: center;
}

@media screen and (max-width:570px){
    .author-container{
        flex-direction: column;
        padding: 10px;
    }
    .author-personal-blogs{
        flex-wrap: wrap;
        justify-content: space-around;
        }
        .author-personal-blogs a{
            margin-left: 15px;
        }
}

@media screen and (min-width:571px) and (max-width:860px){
   .author-container{
    flex-direction: column;
    padding: 10px;
   }
   .author-personal-blogs{
    margin-left: 0px;
    flex-wrap: wrap;
    }
}
